body {
  background-color: #f3bbd8;
  color: rgb(88, 88, 165);
  width: 90%;
  margin: 32px 64px;

}

li {
  font-family: Arial, Helvetica, sans-serif;
}

.headitalic {
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #62a126;
}

a:link {
  text-decoration: none;
  color: rgb(219, 131, 16);
}

a:visited {

  color: rgb(223, 40, 40);
}

a:hover {
  font-size: 110%;
  background-color: rgb(181, 181, 227);
  color: rgba(83, 9, 9, 0.877);
}

a:active {
  color: black;
}